<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multipletabledboperation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.ActivityAddDeveloper"></activity>
        <activity android:name=".view.ui.ActivityAddTechnology" />
        <activity android:name=".view.ui.ActivityAddProduct" />
        <activity android:name=".view.ui.ActivityAddProject" />
        <activity android:name=".view.ui.ActivityDeveloper" />
        <activity android:name=".view.ui.ActivityTechnology" />
        <activity android:name=".view.ui.ActivityProjects" />
        <activity android:name=".view.ui.ActivityProducts" />
        <activity android:name=".view.ui.ActivityAddCompany" />
        <activity android:name=".view.ui.ActivityCompany">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>